<div class="container">
	<section class="timer-counter-label">
		<div *ngIf="counter" [ngClass]="{blink: !running}">
			<span>{{minutes}}:</span><span>{{seconds}}:</span> <span>{{milliseconds}}</span> </div>
		<div *ngIf="!counter">
			<!-- <span class="blink timer-start-text">Press Start</span> -->
			<!-- <br> -->
			<span>{{minutes}}:</span><span>{{seconds}}:</span> <span>{{milliseconds}}</span>
		</div>
	</section>
	<div class="timer-button-container" *ngIf="showTimerControls">
		<button class="timer-button" (click)="startTimer()">
			{{ startText }}
		</button>
		<button [disabled]='!counter' [ngClass]="{'disabled': !counter}" class="timer-button" (click)="lapTimeSplit()">Lap</button>
		<button class="timer-button" (click)="clearTimer()">Clear</button>
		<br>
		<br>
		<div *ngFor="let lap of laps;let i = index">
			<div class="lap-text"> &#9873; <b>Lap {{i+1}} ::</b>  {{lap}} <button class="timer-button" (click)="asignar(lap)">Asignar</button></div>
			<br>
		</div>
	</div>
</div>
